name: Build and deploy Java app

on:
  push:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:

      # Checkout the repo
      - uses: actions/checkout@master
      
      # Setup Java SDK
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      # Run Maven build
      - name: Build with Maven
        run: mvn clean install

      # Deploy to Azure Web apps staging slot
      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
      # deploy web app using Azure credentials
      - uses: azure/webapps-deploy@v3
        with:
          app-name: app-lbarq-rest-01
          package: '.'
  
      # Azure logout
      - name: logout
        run: |
          az logout
